.slider-part {
    height: 32rem;
    background-size: cover;

}

.slider-part::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.5;
}

.slider-text {

    bottom: 180px;

}

about-us {
    height: 200px;
}