.slider-part::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.5;
}



@media only screen and (max-width: 576px) {
    .learning-slider {}

    .learning-slider h1 {
        font-size: 20px;
        line-height: 15px;

    }

    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


}